<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Glass Website</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="static/register.css" />
  

  </head>
  <body>
   
    <div class="parent">
           
          <h3>Register Here</h3><br><br>
      
        <div class="registeras">
          <br>
          <br>
        <a href="/individualregister"  >&nbsp;&nbsp;Register as Individual</a>
        <br><br><br>
        <a href="/organisationregister">Register as Organization</a>
    </div>
  </div>

      
         
              
    
   
  </body>
</html>